
.t-edge, .b-edge, .l-edge, .r-edge, .wrap-corner {
  position: relative;
  /* hasLayout -1 ? For IE only */
  zoom: 1;
}
.rounded-corner .t-edge {
  background: url(../../../../all/modules/panels/plugins/styles/corners/shadow-t.png) repeat-x 0 top;
  font-size: 1px;
}
.rounded-corner .b-edge {
  background: url(../../../../all/modules/panels/plugins/styles/corners/shadow-b.png) repeat-x 0 bottom;
  font-size: 1px;
}
.rounded-corner .l-edge {
  background: url(../../../../all/modules/panels/plugins/styles/corners/shadow-l.png) repeat-y 0 0;
}
.rounded-corner .r-edge {
  background: url(../../../../all/modules/panels/plugins/styles/corners/shadow-r.png) repeat-y right 0;
}
.rounded-corner .wrap-corner {
  background: #fff !important;
}
.rounded-corner .wrap-corner .t-edge, .rounded-corner .wrap-corner .b-edge {
  height: 11px;
}
.rounded-corner .wrap-corner .l, .rounded-corner .wrap-corner .r {
  position: absolute;
  top: 0;
  height: 11px;
  width: 11px;
  background-image: url(../../../../all/modules/panels/plugins/styles/corners/corner-bits.png);
}
.rounded-corner .wrap-corner .l {
  left: 0;
}
.rounded-corner .wrap-corner .r {
  right: 0;
  background-position: -11px 0;
}
.rounded-corner .wrap-corner .b-edge .l {
  background-position: 0 -11px;
}
.rounded-corner .wrap-corner .b-edge .r {
  background-position: -11px -11px;
}
.rounded-corner .wrap-corner .r-edge {
  padding: 5px 24px;
}
.rounded-corner div.admin-links {
  margin-top: -14px;
  margin-left: -12px;
}

.rounded-corner .panel-separator {
  background: url(../../../../all/modules/panels/plugins/styles/corners/shadow-b.png) repeat-x 0 center;
  font-size: 1px;
  height: 30px;
}

.rounded-corner .rounded-corner {
  margin-bottom: 1em;
}
