/**
 * Modtheme modtheme.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well..
 */
.region-top-menu {
  background-color: #f1f6e4;
}

.block-region-top-menu, .block-region-top-menu ul.menu {
  background-color: #f1f6e4;
  text-align: right;
  float: right;
}

#user-login-block-form-fields label {
  text-align: center;
}
.front-page-story-list-row img { 
  float:left;
  margin: 0 5px 0 0; 
}
.stories-row img {
  float:left;
  margin: 0 5px 10px 0;
}
.stories-row {
  clear: both;;
}
.views-row-even > stories-row img {
  background-color: #e5e2da;
}
#cml_logo {
  width: automatic;
}
#cml_logo img {
  clear: both;
  float: right;
}
.article-type-people > field-item img {
  float: left;
}

.ai-blocks {
	border: 2px dashed #7AA81C;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #F3F6EC;
}

.ai-box {
	color: green;
	font-size:12px;
	font-family: Lucida Sans Unicode;
	background-position :left center;
	background-repeat: no-repeat;	
	background-image: url('http://beta.appinventor.mit.edu/static/images/android-notice-30x30.gif');
	padding-left: 60px;
}

.ai-header {
	border-bottom: 1px solid #CDCDCD;
	padding: 10px 0 5px 0;
}

.ai-testing {
border: 2px solid #ABABAB;
color: #888;
font-size:12px;
font-family: Lucida Sans Unicode;
background-position :left bottom;
background-repeat: no-repeat;
background-image: url('http://beta.appinventor.mit.edu/static/images/testicon2.png');
padding-left: 90px;
}

.ai-warning {
        border: 2px solid #F44;
        color: #F33;
        font-size:12px;
        font-family: Lucida Sans Unicode;
        background: #FDD;
        background-position :left center;
        background-repeat: no-repeat;
        background-image: url('http://beta.appinventor.mit.edu/static/images/android-warning-30x30.gif');
        padding-left: 90px;
}

/*This is Henry's CSS code for the setup instructions pages*/

#buttonWrapper{
    margin: 20px auto;

}

ul { 
   # list-style: none;

}


a.buttonSetup{
    display: block;
    position: relative;
    height: 40px;
    width: 200px;
    margin: 30px auto;
    text-decoration: none;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    color: #000000;
}

a.buttonHeader{
    display: block;
    float:left;
    position: relative;
    height: 40px;
    /*width: 120px;*/
    padding: 0px 1em 0px 1em;
    margin: 10px;
    text-decoration: none;
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    color: #000000;
}

.gray,.gray:hover {
    color: #555;
    border-bottom: 4px solid #356600;
    background: #bfd18e;
}

.gray:hover { background: #82ac38; }

.lightGreen{
    color: #555;
    border-bottom: 4px solid #356600;
    background: #ebdf11;
}

.lightGreen:hover { background: #82ac38; }

.blob {
    padding: 0px 20px 20px 20px;
    margin: 30px 20px 20px 20px;
    background-color: #bfd18e;

}

/*Henry's setup instruction css ends*/

