/* LAYOUT*/
body {
	background:url(../images/squairy_light.png) repeat scroll center top !important;	
}
#page{
	width: 960px;
	margin: 0 auto;
}
#branding, #menu-bar, #create-button,#region-create{
	display: inline-block;
}
#branding{
	width:25%;
	margin:0;
}

#top_bar, 
#top_bar_background {
	top:0;
	min-height: 40px;
	width:100%;
	margin-bottom: 4px;
	padding-right: 0px;
	padding-left: 0px;
	background-color: #f2f2f2;
	background-image: -moz-linear-gradient(top, #f2f2f2, #f3f3f3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#f3f3f3));
	background-image: -webkit-linear-gradient(top, #f2f2f2, #f3f3f3);
	background-image: -o-linear-gradient(top, #f2f2f2, #f3f3f3);
	background-image: linear-gradient(to bottom, #f2f2f2, #f3f3f3);
	background-repeat: repeat-x;
	border: 1px solid #d4d4d4;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
	*zoom: 1;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	position: relative;
}

#top_bar, #top_bar_background{
	width:100%;
	position:absolute;
	margin:0 auto;
	left:0;
	right:0;
	top:0;
}

#header{
	width:960px;
	margin:0 auto;
	height:50px;
	position: relative;
}
.vertical_space {
	height:65px;
}

/* LOGO */
#logo {
	margin: 8px 4px 4px 4px;
	float: left;
}
#logo img{
	/*background: url(../images/logo_text.png) no-repeat;*/
	width: auto;
	height: 50px;
	display: block;	
}
#logo img:hover {
	-webkit-filter: drop-shadow(0px 0px 3px #eee);
	filter:         drop-shadow(0px 0px 3px #eee);
}

/* MAIN MENU */
#menu-bar{
	margin: 0;
	padding-top:10px;
}
#menu-bar li{
	display: inline-block;
}
#menu-bar li a{
	font-family: 'Roboto Light', Helvetica, sans-serif;
	font-weight:300;
	font-size: 22px;
	text-decoration: none;
	color: #3D3D3D;
	background:transparent !important;
	border-radius:0 !important;
	
}
#menu-bar li a.active{
	color: #000;
}
#menu-bar li a:hover{
	color: #8fc202 !important;
}

#superfish-1 li {background:none;}

#superfish-1 li:hover{background:none;}

.superfish-1 li a:hover{color: #8fc202;}
.sf-depth-1 ul{
	margin-top:10px !important;
}
.sf-depth-2, 
.sf-depth-3{
	margin-top:auto !important;
	background-color:#f2f2f2 !important;
	width:120% !important;
}
.sf-depth-2 ul a:hover,
.sf-depth-3 ul a:hover{
	color:#8fc202;
}

#menu-bar ul a, #menu-bar ul a:visited, #menu-bar ul a:hover{
	background-color:transparent;
}
h2.block-title{
	display:none;
}
.region-create {
	display:inline-block;
	float:right;
}
.region-create button{
	background:#FF8800 !important;
	border:none !important;
	color:#FFF;
	font-weight:300;
	border-radius:0;
	font-family: 'Roboto',Helvetica,Arial,sans-serif;
	font-size:20px;
}
.region-create button:hover{
	background:#FF941A;
}
.region-create .block{
	margin:0;
}
.region-create p{
	margin: 10px 0;

}
.region-header{
	max-width: 100%;
	background-color: #C4C4C4;
	padding-top: 55px;
	float: none;
	height: 53px;
}
#block-block-7{
	width:33%;
}
#block-block-22{
	margin:0;
	width:100%;
	height:300px;
	overflow:hidden;
}
#block-block-22 .block-inner{
	margin:-10px 0 0 0 !important;
}
#block-block-23{
	float:left;
}
.gsc-control-searchbox-only {
	float:right;
}

/* MAIN PAGE*/
#columns {
	background: transparent;
	margin-top: 0;
}
.columns-inner{
	padding:0;
}
#featured-block {
/*	margin:15px 0;
	width:100%;
	height:300px;
	overflow:hidden;*/
}
#featured_block img{
	width:100%;
	margin: 0 auto;
}
#content-column {
	background: #F7F9F2;
	border-radius:2px;
	margin: 0 !important;
	padding:15px 0;
}
.content-inner {
	padding:0!important;
}

#article-398 header{
	display: none;
}

#portals {
	float: left;
	height: 120px;
	padding: 10px 10px;
	margin: 10px 0;
	position: relative;
}
#portals tbody tr td{
	border:none;
}
#portals td p{
	text-align: left;
	padding-bottom:5px;
	font-weight:400;
	color:#303030;
}
#portals button{
	position: absolute;
}
/*

#portal-top h2, #portal-bottom h2 {
	font-weight: 700;
	color:#242424;
}

#portal-top td p, #portal-bottom td p{
	text-align: left;
	padding-bottom:5px;
	font-weight:400;
	color:#303030;
}
#portal-top button, #portal-bottom button{
	bottom:0;
	position: absolute;
}

#portal-top tbody tr td{
	width:16%;
	border:none;
}
#portal-bottom tbody tr td{
	width:20%;
	border:none;
}
#portal-bottom tbody tr td:first-child, #portal-bottom tbody tr td:last-child{
	width:10%;
}
*/
button {
	border-radius:0 !important;
	color:#FFF;
	border:none;
}
button:hover{
	color:#FFF;
	border:none;
	border-radius:0 !important;
}
.orange {
	background:#FF8800;
}
.orange:hover{
	background:#FFBB33;
}
.green {
	background:#669900;
}
.green:hover {
	background:#99CC00;
}
.blue {
	background:#0099CC ;
}
.blue:hover {
	background:#33B5E5 ;
}
.purple {
	background:#9933CC;
}
.purple:hover {
	background:#AA66CC;
}
.red {
	background: #CC0000;
}
.red:hover {
	background: #FF4444;
}
.yellow {
	background: #D8CD00;
}
.yellow:hover{
	background: #FFF64F;
}
/*
Front Page Blog Display
*/
#block-views-blog-summary-block .block-title{
	display:inline;
	color: #242424;
	font-weight: 300;
	font-size: 2em;
	text-align: center;
}
#block-views-blog-summary-block .block-inner{
	padding-top:20px;
	border-top:1px solid #C4C4C4;
}
.view-id-blog_summary {
	margin-top:30px !important;
}

.view-id-blog_summary .views-view-grid td{
	float: left; 
	width: 45%;
	padding:2%;
	border:none;
}
.view-id-blog_summary .article-title {
	font-weight: 700;
	color:#242424;
	font-size:16px;
}
.view-id-blog_summary .node-readmore {
	float: right;
	padding:10px;
}
.view-id-blog_summary .blog_usernames_blog, .view-id-blog_summary .submitted, .view-id-blog_summary .user-picture {
	display:none;
}
.view-id-blog_summary .with-picture {
	min-height:0 !important;
	padding:0 !important;
}

pre {
	background-color: #f5f5f5;
	border: solid 1px #ddd;
	border-bottom-color: #ccc;
	border-right-color: #ccc;
	padding: 1em;
	white-space: pre-wrap;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/*
General Styles
*/

.lined-table tbody tr{
	border: 1px solid #ddd;
}
thead th:last-child,
tr td:last-child {
  border-right: none !important;
}
tr td:last-child {
  border-right: none !important;
}

.article-content td,
.view-content td {
  padding: 10px;
}

/*
Tutorial Layout
*/
.form-item.form-type-bef-checkbox.form-item-edit-field-version-tid-59, 
.form-item.form-type-bef-checkbox.form-item-edit-field-version-tid-60{
	width:50%;
}